@import 'variables';


.form-input {
  margin: 5px;
  font-size: 1.2em;
  padding: 15px;

  &:hover {
    border: 1px solid @color-hover;
  }

  &:active {
    border: 1px solid @color-active;
  }
}

.form-input-error {
  border: 1px solid @color-error !important;
}

.form-input-warn {
  border: 1px solid @color-warning !important;
}

.form-input-success {
  border: 1px solid @color-success ! important;
  
}

.form-input-info {
  border: 1px solid @color-info ! important;
}

.form-input-full {
  width: 100%;
}