.page-4-4 {
  float: left;
  min-height: 100%;
  width: 100%;
}
.page-3-4 {
  float: left;
  min-height: 75%;
  width: 100%;
}
.page-2-4 {
  float: left;
  min-height: 50%;
  width: 100%;
}
.page-1-4 {
  float: left;
  min-height: 25%;
  width: 100%;
}
.page-vertical-center-parent {
  display: table;
}
.page-vertical-center-body {
  display: table-cell;
  vertical-align: middle;
}
