body,
html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  weight: 100%;
  background-color: #fcfcfc;
}
* {
  box-sizing: border-box;
}
*:before,
*after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  margin-left: auto;
  margin-right: auto;
  background-color: #00ff00;
}
@media all and (min-width: 1170px) {
  .container {
    width: 1170px;
  }
}
@media all and (min-width: 960px) and (max-width: 1170px - 1px) {
  .container {
    width: 960px;
  }
}
@media all and (min-width: 600px) and (max-width: 600px - 1px) {
  .container {
    width: 600px;
  }
}
@media all and (max-width: 600px) {
  .container {
    width: 100%;
  }
}
.container-full {
  width: 100%;
}
.row {
  display: table;
  width: 100%;
  float: left;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  word-wrap: break-word;
  white-space: pre-line;
  float: left;
  position: relative;
  min-height: 1px;
  padding: 10px;
}
.col-rm-pad {
  padding: 1px;
}
@media all and (min-width: 600px) {
  .col-1 {
    width: 8.3%;
  }
}
@media all and (max-width: 600px) {
  .col-1 {
    width: 100%;
  }
}
@media all and (min-width: 600px) {
  .col-2 {
    width: 16.3%;
  }
}
@media all and (max-width: 600px) {
  .col-2 {
    width: 100%;
  }
}
@media all and (min-width: 600px) {
  .col-3 {
    width: 24.9%;
  }
}
@media all and (max-width: 600px) {
  .col-3 {
    width: 100%;
  }
}
@media all and (min-width: 600px) {
  .col-4 {
    width: 33.3%;
  }
}
@media all and (max-width: 600px) {
  .col-4 {
    width: 100%;
  }
}
@media all and (min-width: 600px) {
  .col-5 {
    width: 41.6%;
  }
}
@media all and (max-width: 600px) {
  .col-5 {
    width: 100%;
  }
}
@media all and (min-width: 600px) {
  .col-6 {
    width: 50%;
  }
}
@media all and (max-width: 600px) {
  .col-6 {
    width: 100%;
  }
}
@media all and (min-width: 600px) {
  .col-7 {
    width: 58.3%;
  }
}
@media all and (max-width: 600px) {
  .col-7 {
    width: 100%;
  }
}
@media all and (min-width: 600px) {
  .col-8 {
    width: 66.6%;
  }
}
@media all and (max-width: 600px) {
  .col-8 {
    width: 100%;
  }
}
@media all and (min-width: 600px) {
  .col-9 {
    width: 74.9%;
  }
}
@media all and (max-width: 600px) {
  .col-9 {
    width: 100%;
  }
}
@media all and (min-width: 600px) {
  .col-10 {
    width: 83.2%;
  }
}
@media all and (max-width: 600px) {
  .col-10 {
    width: 100%;
  }
}
@media all and (min-width: 600px) {
  .col-11 {
    width: 91.5%;
  }
}
@media all and (max-width: 600px) {
  .col-11 {
    width: 100%;
  }
}
@media all and (min-width: 600px) {
  .col-12 {
    width: 100%;
  }
}
@media all and (max-width: 600px) {
  .col-12 {
    width: 100%;
  }
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: 030303;
  line-height: 19px;
}
.page-header {
  width: 100%;
  border-bottom: 1px solid #DCDCDC;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
  font-style: oblique;
}
h6 {
  font-size: 14px;
  font-style: italic;
}
.img-responsive {
  width: 100%;
  height: auto;
}
.page-4-4 {
  float: left;
  min-height: 100%;
  width: 100%;
}
.page-3-4 {
  float: left;
  min-height: 75%;
  width: 100%;
}
.page-2-4 {
  float: left;
  min-height: 50%;
  width: 100%;
}
.page-1-4 {
  float: left;
  min-height: 25%;
  width: 100%;
}
.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  border-bottom: 1px solid gray;
  height: 50px;
  z-index: 99999;
  background-color: #fff;
}
.navbar ul {
  display: inline-block;
}
.navbar ul li {
  display: inline-block;
}
.navbar ul li a {
  padding-top: 16px;
  padding-bottom: 16px;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  color: inherit;
}
.body-has-navbar {
  margin-top: 50px;
}
